
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
        localSigningKey = LOCAL_SIGNING_KEY
[credential]
        helper = GIT_CREDENTIAL_HELPER
[gpg]
        format = ssh
[gpg "ssh"]
        allowedSignersFile = ~/.dotfiles/git/allowed_signers
[commit]
        gpgsign = true